<PageTitle>PDFEdit - Kombinieren</PageTitle>

<Modal @ref="ConfirmClearModal" Title="Bestätigen">
    <Content>
        <span>Wollen sie wirklich ihr gesamtes Dokument löschen?</span>
    </Content>
    <Footer>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Nein</button>
        <button type="button" class="btn btn-danger" @onclick="async _ => await ConfirmClearOnClick()">Ja</button>
    </Footer>
</Modal>

<PageSettingsModal
    @ref="PageSettingsModal"
    OnSaved="PageSettingsOnSave"
/>

<section>
    <div class="input-pages">
        <h6>Dateien</h6>
		<div class="file-list">
			@for (int i = 0; i < _fileSources.Count; i++)
            {
                var index = i;
                <DocumentPages
					Index="@index"
                    Document="@_fileSources[i]"
                    OnPageAdded="DocumentPagesOnPageAdded" 
                    OnDocumentAdded="DocumentPagesOnDocumentAdded"
                />
            }
		</div>
		<label class="file-input" for="file-input">
			<InputFile id="file-input" OnChange="@OnChange" accept=".pdf" multiple />
			<Icon Href="@Icons.AddFile"></Icon>
		</label>
	</div>
    <div class="output-pages">
		<div class="options">
			<TextInput
				DefaultValue="@_outputDocumentFileName"
				Placeholder="Dateiname"
				ValueChanged="FileNameOnValueChanged"
			/>
		</div>
		<div class="preview">
			@for (int i = 0; i < _outputDocumentPreviewPages.Count; i++) {
				var index = i;
				<div class="preview-image">
					<div class="overlay">
						<div @onclick="async _ => await OutputPagesOnPageRemoved(index)"><Icon Href="@Icons.TrashCan" /></div>
						<div @onclick="_ => OutputPagesOnSettings(index)"><Icon Href="@Icons.Cogwheel" /></div>
					</div>
					<img src="@_outputDocumentPreviewPages[i]" />
				</div>
			}
		</div>
		<div class="d-flex flex-row gap-1">
			<button class="btn btn-primary w-100" @onclick="ClearButtonOnClick">
				<Icon Href="@Icons.TrashCan" />
				Alle Entfernen
			</button>
			<button class="btn btn-primary w-100" @onclick="MergeButtonOnClick">
				<Icon Href="@Icons.Download" />
				Zusammenführen
			</button>
		</div>
	</div>
</section>