<div class="container">
    <div class="header">
        <div class="options">
            <TextInput
                Class="filename-input"
                DefaultValue="@_outputDocumentFileName"
                Placeholder="Dateiname"
                ValueChanged="FileNameOnValueChanged"
            />
            @if (_loading && MutationService.Files.Count > 0)
            {
                <Spinner />
            }
            else
            {
                <Icon Href="@Icons.FileCheckmark"></Icon>
            }
        </div>
    </div>
    <DragDropArea @ref="DragDropArea" OnItemDrop="@OutputPreviewOnItemDrop" Items="@MutationService.Previews" Class="preview" TItem="PreviewPage">
        <div class="preview-wrapper" style="@(context.Transform.Angle == PdfRotation.deg90 || context.Transform.Angle == PdfRotation.deg270 ? "aspect-ratio: 1;" : "")">
            <div rotation="@context.Transform.Angle.ToFloat()" style=@($"transform: rotate({context.Transform.Angle.ToFloat()}deg);") class="preview-image">
                <div class="overlay">
                    <div style =@($"transform: rotate({-context.Transform.Angle.ToFloat()}deg)")>
                        <div data-clickable="true" @onclick="_ => OnPageRemoved(context.Index)"><Icon Href="@Icons.TrashCan" /></div>
                        <div data-clickable="true" @onclick="_ => OnSettings(context.Index)"><Icon Href="@Icons.Cogwheel" /></div>
                    </div>
                </div>
                <img src="@context.Image">
            </div>
        </div>
    </DragDropArea>
    <div class="d-flex flex-row gap-1">
        <button class="btn btn-primary w-100" @onclick="ClearButtonOnClick">
            <Icon Href="@Icons.TrashCan" />
            Alle Entfernen
        </button>
        <button class="btn btn-primary w-100" @onclick="MergeButtonOnClick">
            <Icon Href="@Icons.Download" />
            Zusammenführen
        </button>
    </div>
</div>