<div class="container">
    <div class="header">
        <div class="options">
            <TextInput
                DefaultValue="@_outputDocumentFileName"
                Placeholder="Dateiname"
                ValueChanged="FileNameOnValueChanged"
            />
        </div>
    </div>
    @if (_loading && InputPages.InputDocuments.Count > 0)
    {
        <div class="preview">
            <Spinner />
        </div>
    }
    else
    {
        <DragDropArea @ref="_dragDropArea" OnItemDrop="@OutputPreviewOnItemDrop" Items="@_outputDocumentPreviewPages" Class="preview" TItem="PreviewPage">
            <div class="preview-image">
                <div class="overlay">
                    <div data-clickable="true" @onclick="async _ => await OnPageRemoved(context.Index)"><Icon Href="@Icons.TrashCan" /></div>
                    <div data-clickable="true" @onclick="_ => OnSettings(context.Index)"><Icon Href="@Icons.Cogwheel" /></div>
                </div>
                <img src="@context.Image">
            </div>
        </DragDropArea>
    }
    <div class="d-flex flex-row gap-1">
        <button class="btn btn-primary w-100" @onclick="ClearButtonOnClick">
            <Icon Href="@Icons.TrashCan" />
            Alle Entfernen
        </button>
        <button class="btn btn-primary w-100" @onclick="MergeButtonOnClick">
            <Icon Href="@Icons.Download" />
            Zusammenführen
        </button>
    </div>
</div>