<PageTitle>PDFEdit - Kombinieren</PageTitle>

<Modal @ref="ConfirmClearModal" Title="Bestätigen">
    <Content>
        <span>Wollen sie wirklich ihr gesamtes Dokument löschen?</span>
    </Content>
    <Footer>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Nein</button>
        <button type="button" class="btn btn-danger" @onclick="async _ => await ConfirmClearOnClick()">Ja</button>
    </Footer>
</Modal>

<PageSettingsModal
    @ref="PageSettingsModal"
    OnSaved="PageSettingsOnSave"
/>

<section>
	<div class="input-pages" @ondragover="() => _dragging = true">
		<label for="drag-file-input"
			   class="drag-and-drop-input"
			   style="@(_dragging ? "display: initial" : "display: none")"
			   @onmouseout='() => { _dragging = false; StateHasChanged(); }'
			   @ondragleave='() => { _dragging = false; StateHasChanged(); }'>
			<InputFile id="drag-file-input"
					   OnChange="FileInputOnChange"
					   accept=".pdf"
					   multiple />
		</label>
        <h6>Dateien</h6>
		<div class="file-list">
			@for (int i = 0; i < _fileSources.Count; i++)
            {
                var index = i;
                <DocumentPages
					Index="@index"
                    Document="@_fileSources[i]"
                    OnPageAdded="DocumentPagesOnPageAdded" 
                    OnDocumentAdded="DocumentPagesOnDocumentAdded"
					OnDocumentRemoved="DocumentPagesOnDocumentRemoved" />
            }
			@if (_fileSources.Count == 0)
			{
				<div class="info-overlay">
					<Icon Href="@Icons.CloudUpload" />
					<span>Legen sie Dateien hier ab, um sie hochzuladen.</span>
				</div>
			}
		</div>
		<label	class="file-input"
				for="file-input"
				data-bs-toggle="tooltip"
				data-bs-placement="top"
				title="Dokumente hinzufügen">
			<InputFile id="file-input" OnChange="FileInputOnChange" accept=".pdf" multiple />
			<Icon Href="@Icons.AddFile"></Icon>
		</label>
	</div>
    <div class="output-pages">
		<div class="header">
			<div class="options">
				<TextInput
					DefaultValue="@_outputDocumentFileName"
					Placeholder="Dateiname"
					ValueChanged="FileNameOnValueChanged"
                />
			</div>
		</div>
		<Dropzone OnReplacedItemDrop="OutputPreviewOnItemDrop" OnItemDrop="OutputPreviewOnItemDrop" Items="_outputDocumentPreviewPages" TItem="PreviewPage" Class="preview">
            <div class="preview-image">
                <div class="overlay">
                    <div @onclick="async _ => await OutputPagesOnPageRemoved(context.Index)"><Icon Href="@Icons.TrashCan" /></div>
                    <div @onclick="_ => OutputPagesOnSettings(context.Index)"><Icon Href="@Icons.Cogwheel" /></div>
                </div>
                <img src="@context.Image">
            </div>
        </Dropzone>
		<div class="d-flex flex-row gap-1">
			<button class="btn btn-primary w-100" @onclick="ClearButtonOnClick">
				<Icon Href="@Icons.TrashCan" />
				Alle Entfernen
			</button>
			<button class="btn btn-primary w-100" @onclick="MergeButtonOnClick">
				<Icon Href="@Icons.Download" />
				Zusammenführen
			</button>
		</div>
	</div>
</section>